In [7]:
import pandas as pd
import numpy as np
import os
import os.path as osp
from tqdm.notebook import tqdm
import sys
sys.path.append('../../../../scripts')
import preprocessing.preprocessing as preprocessing
import matplotlib.pyplot as plt
import lightgbm as lgbm
from sklearn.metrics import average_precision_score,precision_score,recall_score
#from pandas import datetime

In [2]:
df = preprocessing.load_df('../../data/data_new/raw/Binance/BTC_USDT/BTC_USDT.csv')

Total NaN :

timestamp    0
open         0
high         0
low          0
close        0
volume       0
returns      1
dtype: int64

In [3]:
df

,timestamp,open,high,low,close,volume,returns
date,,,,,,,
2018-02-09 10:00:00,1518170400000,7789.90,8290.00,7789.90,8290.00,210.243307,NaN
2018-02-09 10:01:00,1518170460000,8290.00,8369.00,8289.88,8320.14,114.170535,0.003636
2018-02-09 10:02:00,1518170520000,8324.97,8379.00,8315.00,8378.00,114.958990,0.006954
2018-02-09 10:03:00,1518170580000,8372.30,8390.00,8348.00,8360.00,114.683659,-0.002148
2018-02-09 10:04:00,1518170640000,8360.00,8389.00,8348.00,8348.00,79.855717,-0.001435
...,...,...,...,...,...,...,...
2023-01-25 15:52:00,1674661920000,22557.95,22570.27,22551.10,22564.41,239.493680,0.000287
2023-01-25 15:53:00,1674661980000,22563.67,22589.48,22563.45,22574.51,296.072390,0.000448
2023-01-25 15:54:00,1674662040000,22574.51,22585.52,22567.60,22569.05,205.119680,-0.000242
2023-01-25 15:55:00,1674662100000,22569.07,22588.17,22560.36,22584.71,212.476890,0.000694
2023-01-25 15:56:00,1674662160000,22583.92,22593.12,22577.77,22582.05,197.101720,-0.000118

### Steps 

We choose a 0.01 threshold

1. Get all y values 
2. Get all X values

In [4]:
df

,timestamp,open,high,low,close,volume,returns
date,,,,,,,
2018-02-09 10:00:00,1518170400000,7789.90,8290.00,7789.90,8290.00,210.243307,NaN
2018-02-09 10:01:00,1518170460000,8290.00,8369.00,8289.88,8320.14,114.170535,0.003636
2018-02-09 10:02:00,1518170520000,8324.97,8379.00,8315.00,8378.00,114.958990,0.006954
2018-02-09 10:03:00,1518170580000,8372.30,8390.00,8348.00,8360.00,114.683659,-0.002148
2018-02-09 10:04:00,1518170640000,8360.00,8389.00,8348.00,8348.00,79.855717,-0.001435
...,...,...,...,...,...,...,...
2023-01-25 15:52:00,1674661920000,22557.95,22570.27,22551.10,22564.41,239.493680,0.000287
2023-01-25 15:53:00,1674661980000,22563.67,22589.48,22563.45,22574.51,296.072390,0.000448
2023-01-25 15:54:00,1674662040000,22574.51,22585.52,22567.60,22569.05,205.119680,-0.000242
2023-01-25 15:55:00,1674662100000,22569.07,22588.17,22560.36,22584.71,212.476890,0.000694
2023-01-25 15:56:00,1674662160000,22583.92,22593.12,22577.77,22582.05,197.101720,-0.000118

In [5]:
df['day_of_week'] = df.index.day_of_week

In [6]:
tmp = df[(df.index.hour == 23) & (df.index.minute == 59)]

In [7]:
tmp.index[0] - pd.Timedelta('5D')

Timestamp('2018-02-04 23:59:00')

In [8]:
df[tmp.index[0] - pd.Timedelta('5D') : tmp.index[0]]

,timestamp,open,high,low,close,volume,returns,day_of_week
date,,,,,,,,
2018-02-09 10:00:00,1518170400000,7789.90,8290.00,7789.90,8290.00,210.243307,NaN,4
2018-02-09 10:01:00,1518170460000,8290.00,8369.00,8289.88,8320.14,114.170535,0.003636,4
2018-02-09 10:02:00,1518170520000,8324.97,8379.00,8315.00,8378.00,114.958990,0.006954,4
2018-02-09 10:03:00,1518170580000,8372.30,8390.00,8348.00,8360.00,114.683659,-0.002148,4
2018-02-09 10:04:00,1518170640000,8360.00,8389.00,8348.00,8348.00,79.855717,-0.001435,4
...,...,...,...,...,...,...,...,...
2018-02-09 23:55:00,1518220500000,8698.00,8712.00,8698.00,8704.00,4.077201,-0.000989,4
2018-02-09 23:56:00,1518220560000,8708.77,8708.80,8685.00,8690.23,36.945481,-0.001582,4
2018-02-09 23:57:00,1518220620000,8690.23,8708.80,8690.14,8701.42,13.428078,0.001288,4
2018-02-09 23:58:00,1518220680000,8705.60,8705.61,8690.22,8690.32,18.340600,-0.001276,4
2018-02-09 23:59:00,1518220740000,8690.45,8701.30,8683.92,8683.92,15.297334,-0.000736,4

In [9]:
e = {}

keys = df[(df.index.hour == 23) & (df.index.minute == 59)].index.tolist()

In [11]:
e = {}

for x in tqdm(keys):
    a = pd.Timedelta('5D') 
    b = pd.Timedelta('2D')
    c = pd.Timedelta('10m')
    X_chunk = df.loc[x - a:x - c]
    y_chunk = df.loc[x:x+b]
    e[x] = (X_chunk,y_chunk)

  0%|          | 0/1811 [00:00<?, ?it/s]

In [12]:
e[keys[1]][0]

,timestamp,open,high,low,close,volume,returns,day_of_week
date,,,,,,,,
2018-02-09 10:00:00,1518170400000,7789.90,8290.00,7789.90,8290.00,210.243307,NaN,4
2018-02-09 10:01:00,1518170460000,8290.00,8369.00,8289.88,8320.14,114.170535,0.003636,4
2018-02-09 10:02:00,1518170520000,8324.97,8379.00,8315.00,8378.00,114.958990,0.006954,4
2018-02-09 10:03:00,1518170580000,8372.30,8390.00,8348.00,8360.00,114.683659,-0.002148,4
2018-02-09 10:04:00,1518170640000,8360.00,8389.00,8348.00,8348.00,79.855717,-0.001435,4
...,...,...,...,...,...,...,...,...
2018-02-10 23:45:00,1518306300000,8505.27,8514.96,8500.01,8514.96,20.520721,0.001129,5
2018-02-10 23:46:00,1518306360000,8513.00,8520.00,8513.00,8520.00,17.217584,0.000592,5
2018-02-10 23:47:00,1518306420000,8515.91,8536.00,8514.98,8533.00,18.186566,0.001526,5
2018-02-10 23:48:00,1518306480000,8533.00,8545.00,8508.23,8535.57,27.880855,0.000301,5
2018-02-10 23:49:00,1518306540000,8545.00,8545.00,8512.00,8537.77,14.076944,0.000258,5

In [35]:
e[keys[0]][0].close.std()

151.55137475249245

In [13]:
def featurize(df:pd.DataFrame,
             resample_granularity: str = '120min'):
    
    df['dollar_volume'] = df['volume']* ((df['open'] + df['close'])/2)
     
    tmp = preprocessing.resample(df,resample_granularity)
    
    
    a0 = tmp.returns.values.T.tolist()
    a1 = tmp.dollar_volume.values.T.tolist()
    a2 = [tmp.returns.std()] # risk measured over the data 
    a3 = [tmp.dollar_volume.std()] 
    a4 = (-df.open.iloc[0] + df.high.max())/(df.open.iloc[0])
    a5 = (df.high.max() - df.low.min())/(df.low.min())
    
    l = np.array(a0 + a1 + a2 + a3 + a4 + a5)
    
    return l

In [20]:
def get_y(df: pd.DataFrame,
         threshold: float = 0.01,
         stop_loss: float = 0.1):
    
    b = pd.Timedelta('5m')
    buy_price = df.iloc[0].close
    tmp = df.loc[df.index[0] + b:]
    
    t  = (tmp.close > ((1 + threshold) * buy_price))
    s  = (tmp.close < ((1 - stop_loss) * buy_price))
    
    if t.sum() > 0:
        sell_index = np.where(t)[0][0]
        no_collapse_before_sell = (s[:sell_index + 1].sum() == 0)
        
        return no_collapse_before_sell
        
    else:
        
        return False

In [37]:
# restrict to some of the data where we have same size data

A = [((len(e[k][0]) == 7191) and (len(e[k][1]) == 2881)) for k in keys]

print("We make use of {}% of the data".format(np.array(A).sum()*100/len(keys)))

We make use of 90.44726670347875% of the data

In [38]:
import warnings
warnings.filterwarnings("ignore")

featurized = {}

for i,k in tqdm(enumerate(keys)):
    if A[i]:
        
        A0= featurize(e[k][0])
        B0= get_y(e[k][1])
        
        featurized[k] = (A0,B0)

0it [00:00, ?it/s]

In [49]:
feat_keys = list(featurized.keys())
feat_keys.sort()

In [57]:
X = []
y = []

for f in feat_keys:
    X.append(featurized[f][0])
    y.append(featurized[f][1])
    
X = np.array(X)
y = np.array(y).astype(int)

In [58]:
np.array(X).shape, np.array(y).shape

((1638, 122), (1638,))

In [59]:
X_train = X[:int(0.75*len(X))]
X_test = X[int(0.8*len(X)):]

y_train = y[:int(0.75*len(X))]
y_test = y[int(0.8*len(X)):]

In [73]:
clf = lgbm.LGBMClassifier()

clf.fit(X_train,y_train)

y_pred = [y[1] for y in clf.predict_proba(X_test)]

In [76]:
average_precision_score(y_test,y_pred)

0.7888615763922844

In [94]:
y_pred_binary = (np.array(y_pred) > 0.99).astype(int)

In [95]:
precision_score(y_test,y_pred_binary)

0.835820895522388

In [96]:
recall_score(y_test,y_pred_binary)

0.23931623931623933

In [99]:
y_test.sum()/len(y_test)

0.7134146341463414

In [88]:
np.unique([len(e[k][0]) for k in keys],return_counts = True)

(array([ 830, 2255, 3661, 5101, 6486, 6541, 6591, 6711, 6734, 6771, 6831,
        6837, 6879, 6907, 6921, 6939, 6981, 7041, 7048, 7063, 7071, 7086,
        7101, 7112, 7130, 7131, 7142, 7157, 7191]),
 array([   1,    1,    1,    1,    4,    1,    6,    5,    5,    5,    5,
           5,    1,    5,    5,    4,   10,   10,    5,    5,   10,    1,
           5,    5,    5,   14,    1,    1, 1684]))

In [47]:
tmp = e[keys[0]][1]

tmp.iloc[0].close

8683.92

In [72]:
get_y(e[keys[0]][1])

True

In [55]:
t.sum() > 0

True

In [67]:
np.where(t)[0][0]

16

In [70]:
s[:17].sum() == 0

True

In [133]:
tmp.iloc[0].close

9449.99

In [ ]:
for k in keys():

date
2018-02-14 23:59:00   -0.000318
2018-02-15 00:00:00   -0.002906
2018-02-15 00:01:00    0.000260
2018-02-15 00:02:00   -0.000202
2018-02-15 00:03:00   -0.000272
                         ...
2018-02-19 23:55:00   -0.000920
2018-02-19 23:56:00    0.000085
2018-02-19 23:57:00    0.001345
2018-02-19 23:58:00   -0.000773
2018-02-19 23:59:00    0.000146
Name: returns, Length: 7201, dtype: float64

In [114]:
tmp['c']

16999.14637298341

In [120]:
tmp.high.max()

11274.0

In [122]:
tmp.open.iloc[0]

9453.0

In [98]:
keys[5] + pd.Timedelta('2D') + pd.Timedelta('5m')

Timestamp('2018-02-17 00:04:00')

In [33]:
rr = [(len(e[k][0]),len(e[k][1])) for k in keys]

In [40]:
c,d = np.unique([x[0] for x in rr],return_counts = True)

In [52]:
c,d = np.unique([x[1] for x in rr],return_counts = True)

In [64]:
for i,k in enumerate(keys):
    if len(e[k][0]) < 7201 and len(e[k][0]) > 7000:
        print(i)
        break

5

In [105]:
tmp = e[keys[10]][0]

In [106]:
tmp

,timestamp,open,high,low,close,volume,returns,day_of_week
date,,,,,,,,
2018-02-14 23:59:00,1518652740000,9453.00,9462.00,9440.00,9449.99,19.393669,-0.000318,2
2018-02-15 00:00:00,1518652800000,9449.98,9449.98,9420.50,9422.53,29.297210,-0.002906,3
2018-02-15 00:01:00,1518652860000,9422.53,9439.66,9420.50,9424.98,37.246513,0.000260,3
2018-02-15 00:02:00,1518652920000,9424.98,9430.00,9420.52,9423.08,39.875659,-0.000202,3
2018-02-15 00:03:00,1518652980000,9424.99,9427.78,9420.36,9420.52,42.692141,-0.000272,3
...,...,...,...,...,...,...,...,...
2018-02-19 23:55:00,1519084500000,11150.28,11156.25,11139.53,11144.06,8.663211,-0.000920,0
2018-02-19 23:56:00,1519084560000,11144.05,11160.00,11137.23,11145.01,14.344649,0.000085,0
2018-02-19 23:57:00,1519084620000,11149.68,11160.00,11141.00,11160.00,17.719266,0.001345,0
2018-02-19 23:58:00,1519084680000,11159.99,11169.51,11150.00,11151.37,25.260418,-0.000773,0
2018-02-19 23:59:00,1519084740000,11151.37,11160.00,11144.78,11153.00,10.329080,0.000146,0

In [117]:
preprocessing.resample(tmp,'120min').close.values.T.tolist()

[9374.96,
 9636.58,
 9670.0,
 9810.01,
 9585.1,
 9566.56,
 9638.76,
 9811.01,
 10070.18,
 10110.75,
 9873.25,
 10000.09,
 10305.0,
 10104.7,
 10055.03,
 9688.5,
 9844.99,
 9799.43,
 9829.9,
 10039.98,
 10055.38,
 10030.66,
 10055.0,
 10159.98,
 10316.03,
 10459.04,
 10499.99,
 10727.91,
 10659.0,
 10683.0,
 10660.0,
 10731.48,
 10745.2,
 10722.99,
 10818.99,
 11039.55,
 11190.0,
 10800.0,
 10328.34,
 10589.76,
 10101.1,
 10550.0,
 10688.33,
 10633.73,
 10743.0,
 10831.26,
 10740.37,
 10383.43,
 10625.6,
 10499.0,
 10448.22,
 10815.62,
 10929.91,
 10918.84,
 10945.22,
 11171.71,
 10940.0,
 11126.06,
 11098.0,
 11153.0]

NameError: name 'dF' is not defined

In [101]:
e[keys[5]][1]

,timestamp,open,high,low,close,volume,returns,day_of_week
date,,,,,,,,
2018-02-15 00:04:00,1518653040000,9420.36,9420.52,9400.00,9400.29,42.669488,-0.002147,3
2018-02-15 00:05:00,1518653100000,9400.29,9423.14,9400.00,9404.06,55.703522,0.000401,3
2018-02-15 00:06:00,1518653160000,9409.28,9424.00,9400.03,9417.00,28.888809,0.001376,3
2018-02-15 00:07:00,1518653220000,9418.99,9426.87,9406.69,9412.00,27.030080,-0.000531,3
2018-02-15 00:08:00,1518653280000,9412.00,9419.00,9405.00,9405.00,40.100898,-0.000744,3
...,...,...,...,...,...,...,...,...
2018-02-16 23:55:00,1518825300000,10153.61,10159.71,10153.60,10158.94,3.394788,0.000388,4
2018-02-16 23:56:00,1518825360000,10158.94,10165.00,10155.01,10161.00,10.265316,0.000203,4
2018-02-16 23:57:00,1518825420000,10161.00,10162.80,10160.04,10161.00,9.141580,0.000000,4
2018-02-16 23:58:00,1518825480000,10161.00,10167.34,10150.00,10156.03,24.513886,-0.000489,4
2018-02-16 23:59:00,1518825540000,10156.03,10160.01,10146.00,10159.98,17.938177,0.000389,4