In [1]:
import pandas as pd
import numpy as np
from prelim_process_df import *

In [2]:
data_path = '/home/jwelliav/Documents/Crypto/data/Binance/'

path_avax = data_path + 'AVAX_USDT.csv'

In [4]:
df_avax =  drop_ret_cols(read_process_df(path_avax,'avax'))

In [5]:
df_avax.head()

,open_avax,high_avax,low_avax,close_avax,volume_avax,vol_usdt_K_avax
datetime,,,,,,
2020-09-22 15:31:00,3.6018,4.4804,3.5897,4.2775,295523.27,1164.258251
2020-09-22 15:32:00,4.2500,4.4351,4.0611,4.1021,137106.97,572.565562
2020-09-22 15:33:00,4.1027,4.2000,4.0061,4.1699,117775.14,487.153312
2020-09-22 15:34:00,4.1699,4.1990,4.1076,4.1800,72788.25,303.887304
2020-09-22 15:35:00,4.1704,4.3879,4.0487,4.3350,115621.12,491.701937

In [7]:
df_avax.shift(-1)

,open_avax,high_avax,low_avax,close_avax,volume_avax,vol_usdt_K_avax
datetime,,,,,,
2020-09-22 15:31:00,4.2500,4.4351,4.0611,4.1021,137106.97,572.565562
2020-09-22 15:32:00,4.1027,4.2000,4.0061,4.1699,117775.14,487.153312
2020-09-22 15:33:00,4.1699,4.1990,4.1076,4.1800,72788.25,303.887304
2020-09-22 15:34:00,4.1704,4.3879,4.0487,4.3350,115621.12,491.701937
2020-09-22 15:35:00,4.3350,4.3351,4.2000,4.2900,67848.12,292.595017
...,...,...,...,...,...,...
2022-02-24 11:53:00,73.2700,73.4600,73.2500,73.3200,2462.53,180.491136
2022-02-24 11:54:00,73.3200,73.5100,72.9900,73.0500,9885.66,723.482027
2022-02-24 11:55:00,73.0700,73.1500,72.2100,72.2300,30540.95,2218.800018
2022-02-24 11:56:00,72.2400,72.3600,71.9200,72.0300,15874.74,1145.124370
2022-02-24 11:57:00,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
c1 = df_avax.shift(1)['close_avax']

In [12]:
df_avax['close_avax'] - c1

datetime
2020-09-22 15:31:00       NaN
2020-09-22 15:32:00   -0.1754
2020-09-22 15:33:00    0.0678
2020-09-22 15:34:00    0.0101
2020-09-22 15:35:00    0.1550
                        ...
2022-02-24 11:53:00   -0.3200
2022-02-24 11:54:00    0.0700
2022-02-24 11:55:00   -0.2700
2022-02-24 11:56:00   -0.8200
2022-02-24 11:57:00   -0.2000
Name: close_avax, Length: 747243, dtype: float64