In [1]:
import os
import pandas as pd
import numpy as np
import sys
sys.path.append('../../../../scripts/preprocessing')
import preprocessing as pp
sys.path.append('../scripts')
import featurizer

In [2]:
#pp.load_df('../../../../../data/data_new/raw/Binance/ETH_USDT/ETH_USDT.csv')

In [4]:
import warnings
warnings.filterwarnings("ignore")

path = '../../../../../data/data_new/raw/Binance/ETH_USDT/ETH_USDT.csv'

#X,y

df = featurizer.load_and_featurize(path)

Total NaN :

timestamp    0
open         0
high         0
low          0
close        0
volume       0
returns      1
dtype: int64

  0%|          | 0/1811 [00:00<?, ?it/s]

We make use of 90.44726670347875% of the data

0it [00:00, ?it/s]

In [5]:
df

,X,y,timestamp
0,"[0.37505268958775384, 0.3676499083669046, 0.33...",True,2018-02-16 23:59:00
1,"[0.29399677834117677, 0.31856018283239373, 0.2...",False,2018-02-17 23:59:00
2,"[0.3352848780649368, 0.3316037020183852, 0.344...",True,2018-02-18 23:59:00
3,"[0.1449642794238638, 0.1783851879283158, 0.160...",True,2018-02-19 23:59:00
4,"[0.19456280963590927, 0.16566760092097624, 0.1...",True,2018-02-20 23:59:00
...,...,...,...
1633,"[0.28971868943276713, 0.22323495436217913, 0.2...",True,2023-01-18 23:59:00
1634,"[0.09647428095811703, 0.10838330670525939, 0.1...",True,2023-01-19 23:59:00
1635,"[0.19771503565980886, 0.18847743128675376, 0.1...",True,2023-01-20 23:59:00
1636,"[0.16999505452362926, 0.1881390290016521, 0.18...",True,2023-01-21 23:59:00
1637,"[0.20103671584423535, 0.19170527059939593, 0.1...",True,2023-01-22 23:59:00